ul.songs, ul.videos {
  list-style-type: none;
}

ul.songs li:hover, ul.videos li:hover {
  cursor: pointer;
  background: #cfcfef;
}

ul.songs li, ul.videos li {
  width:20em;
  float: left;
  border:1px solid #efefef;
  margin:5px;
  padding:5px;
}

#videoPlayer, #audioPlayer {
  position: fixed;
  right: 15px;
  top:70px;
  z-index: 9001;
}

#navbarNav {
  z-index: 9002;
}

main {
  margin-top: 80px;
}
